body {
    margin: 0;
    width: 100%;
    height: 100vh;
    font-family: "Exo", sans-serif;
    color: #fff;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradientBG 15s ease infinite;
}

@keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.divText {
    margin: auto;
    margin-top: 100px;
    width: 20%;
    border-radius: 20px;
    background-color: orange;
    padding: 20px;
    text-align: center;
}

.ulSportPage {
    list-style-type: none;
}

.ulSportPage:hover {
    list-style-image: url("https://img.icons8.com/offices/20/000000/basketball.png");
}

.ulFoodPage {
    list-style: none;
}

.ulFoodPage:hover {
    list-style-image: url("https://img.icons8.com/doodle/20/000000/broccoli.png");
}

.ulMoviePage {
    list-style: none;
}

.ulMoviePage:hover {
    list-style-image: url("https://img.icons8.com/nolan/20/movie.png");
}

.centerText {
    text-align: center;
    line-height: 9;
}

.divForm {
    margin: auto;
    color: black;
    margin-top: -100px;
    width: 20%;
    border-radius: 15px;
    background-color: lightgray;
    padding: 20px;
}

input[type=text] {
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
}

input[type=submit] {
    margin: 8px 0;
}

input[type=submit]:hover {
    background-color: lime;
}

/*---- Drop down menu section ----*/

.dropDownMenu {
    width: 10px;
    position: relative;
}

.dropDownMenu:hover .links a {
    display: block;
}

.button {
    border: none;
    color: white;
    background: none;
    font-size: 10px;
    cursor: pointer;
}

.links {
    min-width: 200px;
    position: absolute;
}

.links a {
    text-decoration: none;
    color: white;
    background: #e73c7e;
    font-size: 18px;
    padding: 8px 2px;
    display: none;
    transition: 0.3;
}

.links a:hover {
    opacity: 0.7;
}

/*----------------------------*/
.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }